.Form {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    width: 550px;
    margin-left: 30%;
  
  }
  .inputTitles {
    text-decoration: underline;
    margin: 10px;
  }
  button {
    margin: 20px;
  }
  button:hover {
    background-color: green;
  }